* {
    font-family: "Pixelify Sans";
    text-align: center;
}

body {
    margin: 50px;
    background-color: rgb(159, 198, 41);
}

h1 {
    color:rgb(255, 221, 70);
}

h6 {
    color:rgb(229, 229, 125);
    font-size: 15px;
}

p {
    color: white;
}

button {
    background-color:rgb(255, 221, 70);
    color: rgb(159, 198, 41);
    border: none;
    padding: 10px;
}

a {
    color: rgb(159, 198, 41);
}